.statistics {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  border: 1px solid #000;
  border-radius: 10px;

  text-align: center;
  overflow: hidden;
}

.title {
  color: #67686c;
  text-transform: uppercase;
}

.statList {
  margin-top: 20px;
  display: flex;
}

.item {
  padding: 5px;
  flex-basis: calc((100% - 4 * 0px) / 5);

  color: #fff;
}

.label {
  display: block;
}

.percentage {
  display: block;
}

.docx {
  background-color: #0d12cb;
}

.pdf {
  background-color: #d60e0e;
}

.mp3 {
  background-color: #199ca8;
}

.psd {
  background-color: #0a1848;
}
