.transactionHistory {
  width: 700px;
  margin: 0 auto;

  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
}

.tableHeadRow {
  color: #4e4f4e;
  background-color: #00f3d2;
}

.tableTuple:nth-child(2n + 2) {
  background-color: #7b7d7b;
}

.tableData {
    border: 1px solid #4B4D4B;
}
