@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f303a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --bg-projects-overlay: rgba(33, 150, 243, 0.9);
  --hero-button-accent: #188ce8;
  --bg-footer-color: #2f303a;
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --modal-fields-border: rgba(33, 33, 33, 0.2);
  --bg-buttons-color: #f5f4fa;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
  --bg-hero-gradient: rgba(47, 48, 58, 0.4);
  --bg-profile-caption: rgba(47, 48, 58, 0.8);
  --border-clients-color: #afb1b8;
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --border-modal-close: rgba(0, 0, 0, 0.1);
  --modal-placeholder: rgba(117, 117, 117, 0.5);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

#root {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  max-width: 1200px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.images {
  display: block;
}

/* Social links */

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social > .item {
  max-width: 44px;
  max-height: 44px;
}

.social .link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;

  border-radius: 50%;
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
}

.social .icon {
  fill: currentColor;
}

/* Team */

.section.team-section {
  background-color: var(--bg-buttons-color);
}

.team {
  display: flex;
  column-gap: 30px;
}

.team > .item {
  flex-basis: calc((100% - 3 * 30px) / 4);

  text-align: center;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .images {
  margin-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

.item > .team-caption {
  margin-bottom: 16px;
}

.team .social {
  margin-bottom: 30px;
}

.team .link {
  color: var(--border-clients-color);
  transition: color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.team .link:hover,
.team .link:focus {
  color: var(--primary-white-color);
}
